* {
    box-sizing: border-box;
}

.profile_pic {
    width: 135px;
    height: 145px;
    border-radius: 50%;
    margin-top: 20px;
    opacity: 0.08;
    
}

.profile_pic:hover {
    opacity: 1;
    border: 2px solid #Fff;
}

.about_page {
    border: 1px solid black;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../Images/bcg_about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    left: -11.5%;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.title_container {
    margin-top: 30px;
    text-align: center;
   
}

.about_name {
    font-size: 70px;
}

.about_subtitle {
    margin-top: 20px;
    font-size: 25px;
}

.about_me_container {
    max-width: 70vw;
    position: relative;
    left: 5%;
}

.about_me_text {
    margin-top: 60px;
    font-size: 22px;
    line-height: 2.2rem;
}

.about_hr {
    background-color: #fff;
    max-width: 12vw;
    position: relative;
    right: 42%;
}

@media screen and (max-width: 568px) {
    .about_page {
        position: relative;
        left: -3%;
        overflow: hidden;
    }
    .about_me_container {
        position: relative;
        left: 10%;
    }
    .about_title {
        text-align: center;
    }
    .about_hr {
        position: relative;
        right: 1%;
        min-width: 40vw;
    }
}

@media screen and (max-width: 1024px) {
    .about_page {
        position: relative;
        left: -4.5%;
        overflow: hidden;
    }
}