* {
    box-sizing: border-box;
}

#about_page {
    border: 1px solid black;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../Images/bcg_about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

#title_container {
    margin-top: 60px;
    text-align: center;
}

.about_name {
    font-size: 70px;
}

.about_subtitle {
    margin-top: 20px;
    font-size: 25px;
}

.about_me_text {
    margin-top: 120px;
    font-size: 22px;
    line-height: 2.2rem;
    width: 60vw;
    position: relative;
    left: 7%;
}

.profile {
    width: 180px;
    height: 200px;
    float: right;
    border: 1p solid black;
    border-radius: 8px;
}

.example {
    margin-top: 10px;
}

/* 600 AND UNDER  */

@media only screen and (max-width: 600px) {
    .profile {
        display: none;
    }
    .about_me_text {
        margin-left: 80px;
    }
    #title_container {
        margin-left: 20px;
    }
}

/* 600 AND UP  */

@media only screen and (min-width: 600px) {
    .profile {
        display: none;
    }
    .about_me_text {
        margin-left: 80px;
    }
    #title_container {
        margin-left: 20px;
    }
}

/* 768 AND UP */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .profile {
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .profile {
        display: block;
    }
}

