* {
    box-sizing: border-box;
}

.about_page {
    border: 1px solid black;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../Images/bcg_about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    left: -11.5%;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.title_container {
    text-align: center;
    margin-top:40px;
}

.about_name{
    font-size: 70px;
}

.about_subtitle{
    margin-top:20px;
font-size: 25px;
}

.about_me_container{
margin-top:70px;
    max-width: 70vw;
}

.about_me_text{
    font-size: 22px;
    line-height: 2.2rem;
}

