* {
    box-sizing: border-box;
}

#mySidenav a  {
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 160px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    border-radius: 0 5px 5px 0;
    text-align: center;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
}

#mySidenav a:hover {
    left: 0;
    opacity: 1;
}

#about {
    top: 30px;
    background-color: #2196F3;
    border: 3px solid #fff;
    opacity: 0.2;
}

#portfolio {
    top: 130px;
    background-color: black;
    border: 3px solid #fff;
    opacity: 0.2;
}

#contact {
    top: 230px;
    background-color: #f44336;
    border: 3px solid #fff;
    opacity: 0.2;
}

#resume {
    top: 330px;
    background-color: #818181;
     border: 3px solid #fff;
    opacity: 0.2;
}

#linkedin {
    top: 430px;
    background-color: #e699ff;
    border: 3px solid #fff;
    opacity: 0.2;
}

#github {
    top: 530px;
    background-color: #b3cccc;
    border: 3px solid #fff;
    opacity: 0.2;
}

.icons {
    margin-left: 20px;
}

.icons_about {
    margin-left: 40px;
}

/* MEDIA QUERY */

@media screen and (max-width: 568px) {
    #mySidenav a {
        position: absolute;
        left: -100px;
        transition: 0.3s;
        padding: 15px;
        width: 160px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        border-radius: 0 5px 5px 0;
        text-align: center;
        z-index: 1;
        font-family: 'Oswald', sans-serif;
        opacity: 0.1;
    }
    #mySidenav a:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    #mySidenav a {
        position: absolute;
        left: -100px;
        transition: 0.3s;
        padding: 15px;
        width: 160px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        border-radius: 0 5px 5px 0;
        text-align: center;
        z-index: 1;
        font-family: 'Oswald', sans-serif;
        opacity: 0.1;
    }
    #mySidenav a:hover {
        opacity: 1;
    }
}