* {
    box-sizing: border-box;
}

#mySidenav a {
    position: absolute;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 160px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    border-radius: 0 5px 5px 0;
    text-align: center;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
}

#mySidenav a:hover {
    left: 0;
    opacity: 1;
}

#about {
    top: 280px;
    background-color: #2196F3;
    border: 3px solid #fff;
    opacity: 0.3;
}

#portfolio {
    top: 380px;
    background-color: black;
    border: 3px solid #fff;
    opacity: 0.3;
}

#contact {
    top: 480px;
    background-color: #f44336;
    border: 3px solid #fff;
    opacity: 0.3;
  
}

.icons {
    margin-left: 20px;
}

.icons_about {
    margin-left: 40px;
}

.profile_pic {
    width: 147px;
    height: 170px;
    transform: rotate(0deg);
    border-radius: 8px;
    margin-top: 50px;
    opacity: 0.1;
    border: 3px solid #fff;
}

.profile_pic:hover {
    opacity: 1;
}

/* MEDIA QUERY */

@media screen and (max-width: 568px) {
    #mySidenav a {
        position: absolute;
        left: -100px;
        transition: 0.3s;
        padding: 15px;
        width: 160px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        border-radius: 0 5px 5px 0;
        text-align: center;
        z-index: 1;
        font-family: 'Oswald', sans-serif;
        opacity: 0.1;
    }
    #mySidenav a:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    #mySidenav a {
        position: absolute;
        left: -100px;
        transition: 0.3s;
        padding: 15px;
        width: 160px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        border-radius: 0 5px 5px 0;
        text-align: center;
        z-index: 1;
        font-family: 'Oswald', sans-serif;
        opacity: 0.1;
    }
    #mySidenav a:hover {
        opacity: 1;
    }
}