* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Images/brick_wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
}

/* portofolio cards*/

.our-team-main {
    border-bottom: 5px #323233 solid;
    width: 350px;
    height: 250px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 20%;
    transition: 0.5s;
    margin-bottom: 28px;
    margin:20px;
}

.our-team-main img {
    width: 350px;
    height: 250px;
}

.work-title {
    text-align: center;
    margin-top: 5px;
}

.team {
  margin-top: 20px;
  margin-left: 10px;
    min-width: 90vw;
}



.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: #fff;
}

.team-front {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
    bottom: -230px;
    transition: all 0.5s ease;
    background-color: #323233;
    color:#fff;
}

.our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
}

.button {
    margin-top: 20px;
    margin-left: 110px;
    padding: 5px 8px 5px 8px;
    border-radius: 7px;
    font-size: 18px;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #fff;
    box-shadow: 2px 2px 3px 0px black;
}

.margin {
    margin-top: 30px;
}