* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Images/brick_wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    color: #fff;
    overflow: hidden;
}

/* portofolio cards*/

.project {
    margin-top: 30px;
}

.project-work {
    min-width: 23vw;
    min-height: 40vh;
    margin: 5px;
    position: relative;
    left: 5%;
    margin: 20px;
    margin-top: 20px;
    margin-left: 40px;
}

.image {
    opacity: 1;
    display: block;
    height: 262px;
    width: 320px;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
    left: -6%;
    border-radius: 8px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-work:hover .image {
    opacity: 0.3;
}

.project-work:hover .middle {
    opacity: 1;
}

.text {
    background-color: #2196F3;
    color: #fff;
    height: 262px;
    width: 320px;
}

.work-title {
    padding-top: 20px;
    font-size: 25px;
}

.work-text {
    padding: 20px;
    font-size: 20px;
}

.button {
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    font-size: 20px;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #fff;
    box-shadow: 2px 2px 3px 0px black;
}

@media only screen and (max-width: 376px) {
    .middle {
        position: relative;
        margin-right: -50px;
    }
}

@media only screen and (max-width: 376px) {
    .project-work {
        width: 250px;
        height: 240px;
        position: relative;
        left: -20%;
    }
    .image {
        width: 200px;
        height: 200px;
    }
    .middle {
        position: relative;
        left: -20%;
    }
    .text {
        width: 200px;
        height: 200px;
        margin-top: -262px;
        margin-left: 40px;
    }
    .work-title {
        font-size: 15px;
    }
    .work-text {
        font-size: 12px;
    }
    .button {
        font-size: 12px;
    }
}

@media only screen and (max-width: 450px) {
    .project {
        min-width: 100vw;
        min-height: 100vh;
    }
    .project-work {
        position: relative;
        right: 60%;
    }
    .middle {}
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .project-work {
        margin-left: 160px;
    }
    .middle {
        margin-left: 44px;
    }
}