* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../Images/brick_wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    left: -11.5%;
    color: #fff;
    overflow: hidden;
}

.portfolio_content {
    margin-top: 20px;
    position: relative;
    left: 4%;
    
}





/* portofolio cards*/


